body {
    font-family: sans-serif;
    background-color: #f3f3f3 ;
    background-image:  #315481;
    background-attachment: fixed;
   
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   
    padding: 0;
    margin: 0;
   
    font-size: 14px;
  }
   
  .container {
    max-width: 600px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
  }
   
  header {
    background: #cecece;
    background-image:  #cecece;
    padding: 20px 15px 15px 15px;
    position: relative;
  }
   
  #login-buttons {
    display: block;
  }
   
  h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
  }
   
  h2 {
    font-size: 1.3em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
  }
  form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
  }
   
  .new-ticket input {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;

    padding: 10px 0;
    background: whitesmoke;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
    border-radius: 15px;
    text-indent: 5%;
  }
   
  .new-ticket input:focus{
    outline: 0;
  }

  .new-response input {
    box-sizing: border-box;
    padding: 10px 0;
    background: whitesmoke;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
    border-radius: 15px;
    text-indent: 5%;
  }
   
  .new-response input:focus{
    outline: 0;
  }
   
  ul {
    margin: 0;
    padding: 0;
    background: white;
  }
   
  .delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 2em;
    border: none;
    position: relative;
    color: red;
  }
   
  li {
    position: relative;
    list-style: none;
    border-bottom: #eee solid 0px;
    padding-top: 5px;
    background-color: #f3f3f3;
  }
   
  li .text {
    margin-left: 10px;
  }
   
  li.checked {
    color: #888;
  }
   
  li.checked .text {
    text-decoration: line-through;
  }
   
  li.private {
    background: #eee;
    border-color: #ddd;
  }
   
  header .hide-completed {
    float: right;
  }
   
  .toggle-private {
    margin-left: 5px;
  }
   
  @media (max-width: 600px) {
    li {
      padding: 12px 15px;
    }
   
    .search {
      width: 150px;
      clear: both;
    }
   
    .new-task input {
      padding-bottom: 5px;
    }
  }

  .submit-button {
    background-color: #5171d8 ; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-user-drag: auto;
    font-size: 16px;
    padding-top: 10px;
    border-radius: 6px;

}
.incidence{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 6px;
    background-color: white;
    color: black;
    border: 2px solid f3f3f3; /* Green */
    padding: 5px;
    

}
.incidence:hover {
    background-color: rgb(211, 211, 211); /* Green */
    color: white;
}